<div class="product-card">
  <h2>
    {{product?.name}}
  </h2>
  <div class="product-info">
    <div class="product-col">
      <img src="{{product?.imageUrl}}" alt="Product image" class="product-image">
    </div>
    <div class="product-col">
      <p>
        <strong>
          {{product?.description}}
        </strong>
      </p>
      <p>
        <strong class="product-price">
          {{product?.price}} COP
        </strong>
      </p>
      <p>
        <strong>Categoria:</strong>
        {{product?.type}}
      </p>
      <div class="quantity-container">
        <input type="number" name="amount" id="amount-input" [(ngModel)]="product.quantity" min="1" max="10" class="input-cantidad">
        <button class="btn-confirmar" (click)="agregarAlCarrito()">Agregar al Carrito</button>
      </div>
      <p class="success-message" *ngIf="isAdded">
        <i>Producto agregado al carrito</i>
      </p>
    </div>
  </div>
</div>
