<div class="product-card">
  <h2>
    {{product.name}}
  </h2>
  <div class="product-info">
    <div class="product-col">
      <img src="{{product.imageUrl}}" alt="Product image" class="product-image">
    </div>
    <div class="product-col">
      <p>
        <strong>
          {{product.description}}
        </strong>
      </p>
      <p>
        <strong class="product-price">
          {{product.price}} USD
        </strong>
      </p>
      <p>
        <strong>Category:</strong>
        {{product.category}}
      </p>
      <a href="#">
        Comprar Ahora
      </a>
    </div>
  </div>
</div>
