<header>
  <div class="container header-container">
    <img src="assets/images/logo.png" alt="Logo" class="logo" />
    <nav>
      <h1>ChocoByte Online Store</h1>
      <ul>
        <li>
          <a href="/">Inicio</a>
        </li>
        <li>
          <a href="/products">Productos</a>
        </li>
        <li>
          <a href="/cart">Ver Carrito</a>
        </li>
        <li>
          <a href="/login" class="important-btn">Iniciar Sesión</a>
        </li>
        <li class="especial-btn">
          <a href="/register">Registrate</a>
        </li>
      </ul>
    </nav>
  </div>
</header>