<header>
  <div class="container header-container">
    <img src="assets/images/logo.png" alt="Logo" class="logo" />
    <nav>
      <h1>ChocoByte Online Store</h1>
      <ul>
        <li>
          <a [routerLink]="['/']" routerLinkActive="active">Inicio</a>
        </li>
        <li>
          <a [routerLink]="['/products']" routerLinkActive="active">Productos</a>
        </li>
        <li>
          <a [routerLink]="['/cart']" routerLinkActive="active">Ver Carrito</a>
        </li>
        <li>
          <a [routerLink]="['/login']" class="important-btn" routerLinkActive="active">Iniciar Sesión</a>
        </li>
        <li class="especial-btn">
          <a [routerLink]="['/register']" routerLinkActive="active">Regístrate</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
