.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 4rem;
}

.card {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 1.0);
  padding: 2rem;
  border-radius: 0.6rem;
  width: 30rem;

  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 0.6rem;
}

.card-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.6rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.6rem;
}